@import "tailwindcss";

:root {
  --background: #09090b;
  --foreground: #fafafa;
}

.light {
  --background: #ffffff;
  --foreground: #09090b;
}

body {
  background: var(--background);
  color: var(--foreground);
}